---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
<head>
    <BaseHead
            title="Who we are"
            description="We strive to make sure you rank #1 in SEO"
    />
</head>
<body>
<Navbar/>
<h1>About SEO Guide</h1>
<p>This page is under construction. More information about our SEO Guide will be available soon.</p>
</body>
</html>
