---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
<head>
    <BaseHead
            title="About SEO Guide"
            description="Learn more about our SEO Guide website and our mission to help you improve your website rankings."
    />
</head>
<body>
<Navbar/>
<h1>About SEO Guide</h1>
<p>This page is under construction. More information about our SEO Guide will be available soon.</p>
</body>
</html>
