---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'

const title = 'Who we are'
---

<html lang="en">
<head>
  <BaseHead
    title={title}
    description="We strive to make sure you rank #1 in SEO"
  />
</head>
<body>
<Navbar/>
<main>
  <h1>{title}</h1>
  <p>This page is under construction. More information about our SEO Guide will be available soon.</p>
</main>
</body>
</html>
