---
import { Code } from 'astro:components'
import DefaultLayout from '../layouts/DefaultLayout.astro'

const title = 'Who we are'
---
<DefaultLayout
  metaTitle={title}
  metaDescription="We strive to make sure you rank #1 in SEO"
>
  <main>
    <h1>{title}</h1>
    <p>This page is under construction. More information about our SEO Guide will be available soon.</p>
    <article>
      <h1>Test Zone</h1>
      <Code code={`const foo = 'bar';`} lang="js" theme="dark-plus" />
    </article>
  </main>
</DefaultLayout>
