---
import SocialIcon from '@/components/ui/SocialIcon.astro'

const socials = [{
  platform: 'twitter',
  usernameSlug: 'astrodotbuild',
}, {
  platform: 'github',
  usernameSlug: 'withastro',
}, {
  platform: 'youtube',
  usernameSlug: 'astrodotbuild',
}]
---

<footer
  class="py-6
  flex flex-col items-center gap-2
  text-sm text-neutral-500"
>
  <p>© 2025</p>
  <ul class="flex gap-2">
    {socials.map(x =>
      <SocialIcon
        platform={x.platform} usernameSlug={''}
        className="text-neutral-500 hover:text-neutral-800"
      />
    )}
  </ul>
</footer>
