---
export interface Props {
  className: string
}

const { className } = Astro.props
---
<nav class:list={className}>
  <button data-lucide="layout-grid"></button>
</nav>


<style>
  a {
    text-decoration: none;
    color: inherit; /* Or set a specific link color */
  }

  a:hover {
    text-decoration: underline; /* Optional: Add hover effect */
  }
</style>

<script>
  import { LayoutGrid, createIcons } from 'lucide'

  createIcons({
    icons: {
      LayoutGrid
    }
  })
</script>
