---
export interface Props {
  className: string
}

const { className } = Astro.props
const { pathname } = Astro.url
const url = pathname.startsWith('/posts/post-1') ? '/' : '/posts/post-1'
---
<nav class:list={className}>
  <a href={url}>
    <span data-lucide="layout-grid" />
  </a>
</nav>


<script>
  import { LayoutGrid, createIcons } from 'lucide'

  createIcons({
    icons: {
      LayoutGrid
    }
  })
</script>
