---
export interface Props {
  className: string
}

const { className } = Astro.props
---
<nav class:list={className}>
  <a href="/">
    <span data-lucide="layout-grid" />
  </a>
</nav>


<script>
  import { LayoutGrid, createIcons } from 'lucide'

  createIcons({
    icons: {
      LayoutGrid
    }
  })
</script>
