---
import '@/styles/global.css'
import BaseHead from '@/components/base/BaseHead.astro'
import Header from '@/components/base/Header.astro'
import Footer from '@/components/base/Footer.astro'

export interface Props {
  metaTitle: string;
  metaDescription: string;
  className: string;
}

const { metaTitle, metaDescription, className } = Astro.props
---
<html lang="en" class="dark">
<head>
  <BaseHead
    title={metaTitle}
    description={metaDescription}
    siteName="Salesbook"
    siteHandle="@salesbook"
    image="/favicon.jpg"
  />
</head>
<body class:list={[className, 'min-h-screen bg-neutral-50']}>
<Header />

<slot />
<Footer />
</body>
</html>
