---
import Loader from 'lucide-astro/Loader'
import Pyramid from 'lucide-astro/Pyramid'
import Calculator from 'lucide-astro/Calculator'
import BookOpenText from 'lucide-astro/BookOpenText'
import Table from 'lucide-astro/Table'
import AppWindow from 'lucide-astro/AppWindow'

import { type AppIcons } from '@/components/ui/appIcons'

export interface Props {
  icon: AppIcons
  size: 'sm' | 'md'
  color: string
}

const { color, size, icon } = Astro.props

let LucideIcon = Loader

switch (icon) {
  case 'pyramid':
    LucideIcon = Pyramid
    break
  case 'calculator':
    LucideIcon = Calculator
    break
  case 'book-open-text':
    LucideIcon = BookOpenText
    break
  case 'table':
    LucideIcon = Table
    break
  case 'app-window':
    LucideIcon = AppWindow
    break
}
---

<span
  class:list={[
    {
      'p-2': size === 'sm',
      'p-3': size === 'md',
    },
    'p-2',
    'rounded-xl',
    color
  ]}
>
  <LucideIcon
    size={(size === 'sm' && 24) || (size === 'md' && 32)}
    class="text-white"
  />
</span>
