---
export interface Props {
  platform: string
  usernameSlug: string
  className?: string
}
const { platform, usernameSlug, className } = Astro.props
---
<a href={`https://www.${platform}.com/${usernameSlug}`} class:list={className}>
  <span data-lucide={platform} />
</a>

<script>
  import { Twitter, Github, Youtube, createIcons } from 'lucide'

  createIcons({
    icons: {
      Twitter,
      Github,
      Youtube
    }
  })
</script>
